@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(242, 235, 226);
}

main {
  width: 90%;
  margin: 2rem auto;
  background-color: white;
}

.head,
form,
.each {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 0.5rem 1rem;
}

head {
  font-size: 15px;
}

#form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#form input {
  width: 95%;
  height: 100%;
  font-style: italic;
  border: none;
  outline: none;
}

#form button {
  outline: none;
  background-color: transparent;
  border: none;
}

#form i {
  font-size: 16px;
}

.each {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each form {
  width: 100%;
  padding: 0;
  border: none;
}

#tasks {
  width: 100%;
  height: 30px;
  margin: 0 10px;
  outline: none;
  border: none;
  background-color: transparent;
}

.anti {
  background-color: antiquewhite;
}

.pop #trash {
  display: block;
}

.pop #more {
  display: none;
}


.ic {
  height: 15px;
  width: 20px;
}

.ic .white {
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  background-color: transparent;
}

.ic i {
  color: blue;
  display: none;
  font-size: 15px;
}

.it i {
  display: block;
}

.it .white {
  display: none;
}

.line {
  text-decoration: line-through;
}

#trash {
  display: none;
}

.clears {
  padding: 0.7rem;
  text-align: center;
  background-color: rgb(203, 203, 203);
}

#clear {
  background: transparent;
  outline: none;
  border: none;
}

@media (min-width: 768px) {
  main {
    width: 70%;
  }

  main p {
    font-size: 21px;
  }

  .ic {
    height: 20px;
    width: 23px;
  }

  .ic i {
    font-size: 20px;
  }

  #tasks,
  #clear {
    font-size: 18px;
  }
}
